img.round {
  border-radius: 100px;
}

img.radius {
  border-radius: 5px;
}

img.border {
  border: 2px solid #FFF;
  background-color: #FFF;
}

img.res {
  width: 100%;
  max-width: 100%;
}

img.desaturate {
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: gray;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

img.desaturate.hover-colour:hover {
  -webkit-filter: none;
  filter: none;
}

.media-motors-colour {
  color: #F5A73E;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.no-wrap {
  white-space: nowrap;
  display: inline-block;
}

.text-bold {
  font-weight: 600;
}

.top-gap {
  margin-top: 20px;
}

.bottom-gap {
  margin-bottom: 20px;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}

hr {
  height: 1px;
  color: #ccc;
  background-color: #ccc;
  border: none;
}

span.label.status-pending {
  background: #bca800 !important;
  color: #504F4D;
}

span.label.status-unapproved {
  background: #951c17 !important;
}

span.label.status-approved {
  background: #328f88 !important;
}

.inline-block {
  display: inline-block;
}

span.white-cover {
  background: #fff;
  padding: 5px 15px 5px 15px;
}

/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* These styles assume you are using ul and li */

.dropit {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.dropit .dropit-trigger {
  position: relative;
}

.dropit .dropit-submenu {
  position: absolute;
  top: 100%;
  right: 0;
  /* dropdown left or right */
  z-index: 1000;
  display: none;
  /*min-width: 150px;*/
  white-space: nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 2px;
  background: #FFF;  
}

.dropit .dropit-open .dropit-submenu {
  display: block;
}

.dropit-menu ul {
  display: none;
}

/* Hide before plugin loads */

.dropit-menu ul.dropit-submenu {
  background-color: #FFF;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.dropit-menu ul.dropit-submenu a {
  display: block;
  font-size: 14px;
  line-height: 25px;
  color: #636466;
  padding: 0.76em 0.8em;
  margin: 0;
  font-size: 12px;
  font-weight: 700;
}

.dropit-menu ul.dropit-submenu a:hover {
  background: #E8E8E8;
  text-decoration: none;
}
.button {
  border-radius: 3px;
  text-transform: capitalize;
}

.button.primary,
.button {
  background: #227ab4;
  color: #FFF;
}

.button.primary:hover,
.button:hover {
  background: #1d6899;
}

.button.back,
.button.back {
  background: #636466;
  color: #FFF;
}

.button.back:hover {
  background: #545557;
}

.button.cancel {
  background: #bca800;
  color: #FFF;
}

.button.cancel:hover {
  background: #a08f00;
}

.button.delete {
  background: #951c17;
  color: #FFF;
}

.button.delete:hover {
  background: #7f1814;
}

.button.save,
.button.create {
  background: #328f88;
  color: #FFF;
}

.button.save:hover,
.button.create:hover {
  background: #2a7a73;
}
body {
  font-size: 14px;
  width: 100%;
  color: #636466;
  height: 100%;
  background: #F9F9F9;
}

.off-canvas-content {
  background: #F9F9F9;
}

.off-canvas-wrapper#offCanvasLogin {
  background: #FFFFFF;
}

.off-canvas-wrapper-inner#loginBackgroundCar {
  background-image: url('../img/site/general/mercedesbg.png');
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: calc(100% + 150px) center;
}

.off-canvas-content#loginBackground {
  background-color: rgba(255,255,255,0.9);
}

p.login-welcome-message {
  text-align: center;
  font-size: 1.25em;
  color: rgba(0,0,0,1);
  font-weight: 500;
  margin-top: 0;
}

input.loginInput {
  height: auto;
  padding: 12px 18px;
  font-size: 1.15em;
  font-weight: 600;
  border: 1px solid #C0C0C0;
  border-radius: 3px;
  /*font-family: "Helvetica Neue", Arial, sans-serif;*/
}

input.loginInput:focus {
  border: 1px solid #409BF9;
}

input.loginInput[name="email"] {
  background-image: url('../img/icons/usericon.png');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 95% center;
}

input.loginInput[name="password"] {
  background-image: url('../img/icons/passwordicon.png');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 95% center;
}

input.loginInput[name="email"]:focus {
  background-image: url('../img/icons/usericonblue.png');
}

input.loginInput[name="password"]:focus {
  background-image: url('../img/icons/passwordiconblue.png');
}

.remember {
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 20px;
  display: block;
}

button.login-button {
  background-color: #409BF9;
  padding: 14px 18px;
  font-size: 1.2em;
  color: #FFFFFF;
  font-weight: 600;
  width: 100%;
  text-align: center;
  margin-top: 5px;
  border-radius: 3px;
}

.remember label {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0,0,0,0.8);
}

a.forgot-password {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  display: block;
  color: rgba(0,0,0,0.8);
}

.page-wrapper {
  width: 100%;
  height: 100%;
}

.content-wrapper {
  width: auto;
  color: #636466;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
  height: 100%;
}

.secondary-menu {
  padding-top: 40px;
  padding-bottom: 20px;
}

.secondary-menu .page-info .page-info-left {
  float: left;
}

.secondary-menu .page-info .page-info-right {
  float: right;
}

.secondary-menu .page-info button.simple {
  opacity: 0.5;
  background: #328f88;
}

.secondary-menu .page-info button.simple:hover {
  opacity: 1;
}

.vehicle-show-details h2 {
  margin-top: 0;
}

.title-information-wrapper {
  padding-top: 30px;
  background: #FFF;
  border-bottom: 1px solid #ddd;
  padding-left: 20px;
  padding-right: 20px;
}

.title-information-wrapper .page-info {
  padding-bottom: 30px;
}

.title-information-wrapper .page-nav {
  padding-bottom: 10px;
}

.main-wrapper {
  padding-top: 60px;
  padding-bottom: 20px;
  position: relative;
  margin-left: 173px;
}

.sidebar-section {
  margin-left: 0;
  background: #373737;
  transition: all 0.3s ease-out;
  padding-left: 10px;
}

.sidebar-wrapper {
  height: 100%;
  overflow-x: hidden;
  display: block;
  margin-left: 0;
  padding-top: 95px;
  width: 173px;
  background: #373737;
  position: fixed;
  transition: all 0.3s ease-out;
  padding-left: 10px;
}

.off-canvas {
  background: inherit;
}

.sidebar-menu-area {
  color: #FFF;
  margin-bottom: 35px;
}

.sidebar-menu-area .heading {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
  color: #969696;
}

.sidebar-menu-area a li {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 700;
}

.sidebar-menu-area .fa {
  margin-right: 7px;
  margin-left: 5px;
}

.sidebar-wrapper.closed {
  margin-left: -173px;
}

.sidebar-footer-menu {
  text-align: center;
  padding: 10px;
}

.sidebar-footer-menu span {
  color: #ccc;
  font-size: 12px;
}

.top-bar {
  background-color: #FFF;
  position: fixed;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.29);
  color: #504F4D;
}

.top-bar .top-bar-left div {
  display: inline-block;
}

.top-bar .top-bar-logo {
  margin-top: -3px;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

.sidebar-section .top-bar-logo {
  padding: 0;
}

.sidebar-section .top-bar-logo,
.sidebar-section .top-bar-logo span {
  color: #FFF;
}

h1.login-logo {
  color: rgba(0,0,0,1);
  font-weight: 600;
  font-size: 3em;
  margin-top: 75px;
  margin-bottom: 0;
}

h1.login-logo span {
  font-weight: 300;
  color: rgba(0,0,0,1);
}

.top-bar .top-bar-left {
  display: inline-block;
}

.top-bar .top-bar-right .avatar {
  margin-top: 0px;
  margin-left: 10px;
}

.top-bar .top-bar-right .avatar img {
  width: 65px;
  border-color: #ccc;
  border-width: 0px;
  border-left-width: 1px;
}

.top-bar .top-bar-menu-button {
  position: relative;
  top: 4px;
  left: 6px;
}

.top-bar .inline-list li {
  padding-left: 0px;
  font-weight: 600;
}

.top-bar .inline-list li.first {
  padding-left: 20px;
}

.top-bar .top-bar-left .sidebar-button {
  position: absolute;
  top: 21px;
  right: 20px;
}

.top-bar .top-bar-right {
  float: right;
  position: relative;
  padding-left: 20px;
  padding-right: 0;
  display: inline-block;
  vertical-align: middle;
}

.top-bar .top-bar-right .top-bar-logout {
  position: absolute;
  top: 26px;
  right: 20px;
}

.sparkline-header-container {
  margin-top: 10px;
  display: inline-block;
  margin-right: 20px;
}

.icon-topbar .fa {
  top: 5px;
  position: relative;
  color: #504F4D;
}

.icon-topbar .badge {
  top: -10px;
  left: -20px;
  position: relative;
}

.sparkline-header-container:last-child {
  margin-right: 0;
}

.header-sparkline-title {
  display: block;
  margin-top: 0;
  font-weight: 600;
  font-size: 15px;
  color: #328f88;
}

.header-sparkline-title .mini {
  font-weight: 300;
  font-size: 12px;
  color: #636466;
}

.sidebar-button {
  color: #ccc;
  transition: all 0.3s ease-out;
}

.sidebar-button.closed:hover {
  color: #504F4D;
}

.sidebar-button.closed {
  color: #504F4D;
}

.top-bar .top-bar-right div {
  display: inline-block;
  margin-top: 3px;
  vertical-align: middle;
}

.off-canvas-wrapper {
  background: #373737;
}

.sidebar-personal-area {
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}

.sidebar-personal-area img {
  margin-right: 10px;
  width: 45px;
  height: 45px;
}

.data-table-a {
  width: 100%;
  border-bottom: 2px solid #328f88;
}

.data-table-a thead {
  background: none;
  color: #504F4D;
  border-bottom: 1px solid #504F4D;
}

.data-table-a th:nth-child(1) {
  border-radius: 4px 0px 0px 0px;
}

.data-table-a th:nth-last-child(1) {
  border-radius: 0px 4px 0px 0px;
}

.data-table-a thead tr th,
.data-table-a tbody tr td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 12px;
  text-align: left;
  cursor: pointer;
}

.data-table-a thead tr th {
  font-weight: 600;
  font-size: 14px;
}

.data-table-a thead tr th.sorted-by {
  color: #227ab4;
}

.data-table-a thead tr th.sorted-by:after {
  font-family: FontAwesome;
  content: "\f0d8";
  display: inline-block;
  font-size: 14px;
  padding-left: 5px;
  padding-top: 0px;
  vertical-align: top;
}

.data-table-a thead tr th.sorted-by.sorted-reverse:after {
  content: "\f0d7";
}

.data-table-a tbody tr:nth-child(even) {
  background: #FFF;
}

.data-table-a tbody tr:nth-child(odd) {
  background: #F9F9F9;
}

.data-table-a tbody tr:hover {
  background: #E8E8E8;
}

.data-table-a tbody tr:active {
  background: #227ab4;
  color: #FFF;
}

.data-table-a tbody tr img {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-top: -3px;
  margin-right: 10px;
}

.data-table-a .highlight-row {
  background: #e5f2fa !important;
}

.data-table-a .fa-envelope-unread {
  color: #227ab4;
}

.data-table-a .fa-envelope-read {
  color: #eeeeee;
}
.data-table-a .fa-envelope-read:hover {
  color: #bbbbbb;
}

.form-input-table {
  width: 100%;
}

.form-input-table tr {
  border-bottom: 1px solid #ddd;
}

.form-input-table tr td {
  padding-top: 15px;
}

.form-input-table tr td:first-child {
  text-align: right;
  padding-right: 15px;
  vertical-align: middle;
  padding-top: 0;
  font-weight: 600;
}

.form-section {
  margin-bottom: 30px;
}

/*
.vehicle-image-border {
  border: 2px solid #ddd;
}
*/

.vehicle-meta-area.border-bottom {
  border-bottom: 1px solid #ddd;
}

.vehicle-image-gallery {
  text-align: center;
}

.vehicle-image-gallery .gallery-item {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0px 10px;
  /*
  margin-left: 10px;
  margin-right: 10px;
  */
  position: relative;
}

.vehicle-image-gallery .gallery-item img {
  max-width: 280px;
}

.vehicle-image-gallery .gallery-item-thumbnail {
  width: 100px;
  /*height: 75px;*/
}

.vehicle-image-selector-delete-button {
  position: absolute;
  top: 2px;
  right: 2px;
  color: red;
  z-index: 9;
  transition: all 200ms ease-out;
}

.vehicle-image-selector-delete-button:hover {
  font-size: 130%;
}

.inline-index-rating {
  /*color: #222222;*/
  text-align: center;
  display: inline-block;
  padding-right: 5px;
  border-top: none;
  font-size: 16px;
  font-weight: 300;
}

.inline-index-rating.block {
  text-align: left;
  margin-bottom: 7px;
}
.inline-index-rating.block .title {
	width: 170px;
	display: inline-block;
	float: left;
}
.inline-index-rating .rating {
	margin: 0px;
	font-size: 14px;
}

.callout a {
  border-bottom: 1px solid #328f88;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.callout a.addtocalendar {
  border-bottom: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.callout a.addtocalendar a.atcb-link {
  background: #227ab4 !important;
  color: #FFF !important;
  font-family: 'Open Sans', Arial, sans-serif !important;
  padding: 0.78em 0.8em !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  box-shadow: none !important;
  line-height: 12px !important;
  border-bottom: none !important;
}

.vehicle-show-details table tr td {
	font-size: 18px;
}
.vehicle-show-details table tr td:first-of-type {
	font-weight: 700;
	padding-right: 10px;
	min-width: 100px;
}

table.enquiry tr td:first-of-type {
	font-weight: 700;
	padding-right: 10px;
	min-width: 100px;
}

.page-internal-nav {
  background: #E8E8E8;
  border-top: 1px solid #ccc;
  z-index: 99999999;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.page-internal-nav > div {
  padding: 0;
}

.page-internal-nav button {
  border-radius: 0;
  background-color: none;
  background: none;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  color: #636466;
}

.page-internal-nav button i {
  vertical-align: -5%;
}

footer {
  margin-top: 40px;
  padding-left: 173px;
}

.footer-media-motors-icon {
  width: 30px;
}
body,
html {
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a.underline {
  text-decoration: underline;
}

.top-bar-logo {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 65px;
  color: #373737;
}

.top-bar-logo span {
  font-weight: 200;
  color: #504F4D;
}

.login-heading {
  padding-bottom: 20px;
}

.login-heading .top-bar-logo {
  font-size: 300%;
}

.sidebar-button .fa-bars {
  font-size: 1.4rem;
}

h1 {
  margin-top: 0;
}

h1 {
  font-weight: 600;
  font-size: 30px;
  color: #484848;
}

h2 {
  font-size: 20px;
  color: #636466;
  line-height: 20px;
  font-weight: 400;
}

h2.title {
  font-size: 24px;
  color: #636466;
  line-height: 20px;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  color: #636466;
  line-height: 18px;
  font-weight: 400;
}

h3.title {
  margin-top: 0;
  padding-top: 0;
  font-weight: 600;
  color: #484848;
  font-size: 24px;
  margin-bottom: 15px;
}

h4 {
  font-size: 22px;
  color: #636466;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.title-information-wrapper h1 {
  margin-bottom: 5px;
}

.title-information-wrapper small {
  font-size: 12px;
  color: #969696;
  line-height: 13px;
}

.page-nav {
  font-size: 12px;
  font-weight: 700;
  color: #636466;
}

.page-nav ul.inline-list li {
  margin-right: 20px;
  cursor: pointer;
}

.page-nav ul.inline-list li span {
  font-weight: 600;
}

.page-nav ul.inline-list li:last-child {
  margin-right: 0;
}

.page-nav ul.inline-list li:hover {
  color: #227ab4;
}

.page-nav ul.inline-list li.active {
  color: #227ab4;
}

.title-information-wrapper h1 .label {
  display: inline-block;
  position: relative;
  top: -4px;
  background: #328f88;
}

.vehicle-meta-area {
  font-size: 15px;
}

.vehicle-meta-area > div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.vehicle-meta-area .label {
  background: #504F4D;
  color: #FFF;
}

.label.movement {
  background: #bca800;
  color: #504F4D;
  position: relative;
  top: -2px;
}

.vehicle-meta-area span.title {
  font-weight: 600;
  margin-right: 5px;
}

.vehicle-meta-area span.value {
  font-weight: 400;
  margin-right: 5px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.inline-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.inline-list.centered {
  text-align: center;
}

ul.inline-list li {
  display: inline;
}

ul.inline-list li a {
  text-decoration: none;
}

.top-bar-personal-details {
  text-align: left;
  padding-left: 10px;
}

.top-bar-personal-details-caret {
  padding-top: 0px;
  padding-left: 10px;
}

.top-bar-personal-details .personal-company {
  font-size: 13px;
  color: #636466;
  letter-spacing: 0.23px;
  line-height: 15px;
  font-weight: 600;
  display: block;
}

.top-bar-personal-details .personal-user-name {
  font-size: 13px;
  color: #504F4D;
  letter-spacing: 0.27px;
  line-height: 18px;
  font-weight: 700;
}

.sidebar-section a {
  color: #FFF;
}

.callout-heading {
  font-size: 18px;
  font-weight: normal;
  height: auto;
  line-height: 24px;
  display: block;
  color: #373737;
  text-align: center;
  margin-bottom: 15px;
}

.callout-value {
  font-size: 36px;
  font-weight: normal;
  height: auto;
  line-height: 34px;
  display: block;
  color: #373737;
  text-align: center;
}

.vehicle-show-details h2 {
  margin-bottom: 30px;
}

.vehicle-show-details .no-wrap {
  margin-bottom: 10px;
}

.vehicle-show-details .reg-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.vehicle-show-details span.title {
  font-size: 18px;
  font-weight: 400;
  padding-right: 10px;
}

.vehicle-show-details span.value {
  padding-right: 10px;
  font-size: 18px;
  font-weight: 300;
}

.vehicle-show-seller-details {
  margin-top: 0px;
}

.invisible-input-casing,
.invisible-input-casing:disabled {
  background: none;
  background-color: none;
  border: none;
  box-shadow: none;
  color: #504F4D;
}

label {
  color: #504F4D;
  font-size: 14px;
  color: #484848;
  font-weight: 600;
  display: block;
}

label textarea,
label select,
label input {
  font-weight: 500;
}

label .info {
	float:right;
	font-weight: normal;
}

.form-section h2.impact {
  background: #FFF;
  border-left: 2px solid #227ab4;
  border-bottom: 2px solid #227ab4;
  color: #504F4D;
  padding: 10px;
}

.reg-plate {
  background-color: #ec0;
  background: -webkit-linear-gradient(#fff, #ddd);
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  display: inline-block;
  padding: 0 20px 0 40px;
  position: relative;
  font-size: 32px;
  line-height: 40px;
  margin: 0px 0 0px 0;
}

.reg-plate::before {
  background-color: #24c;
  background: -webkit-linear-gradient(#24c, #02a);
  border-radius: 4px 0 0 4px;
  content: 'GB';
  color: #fff;
  font-family: sans-serif;
  font-size: 8px;
  line-height: 14px;
  position: absolute;
  padding-top: 18px;
  left: 5px;
  top: 5px;
  text-align: center;
  width: 20px;
}

.reg-plate::after {
  color: #fff;
  content: "\25CC";
  font-family: sans-serif;
  font-size: 9px;
  left: 0;
  height: 50%;
  line-height: 30px;
  padding-left: 11px;
  position: absolute;
}

.list-icon {
  border-radius: 100px;
  border: 2px solid #969696;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  margin-right: 20px;
  position: relative;
}

.list-icon .list-icon-primary {
  color: #969696;
  line-height: 35px;
  font-size: 20px;
  position: relative;
  top: -1px;
  right: -1px;
}

.list-design-b h3 {
  line-height: 35px;
  margin: 0;
}

.list-design-b p {
  margin-top: 5px;
}

.list-design-b .button {
  margin-top: 3px;
}
.searchFilterComponent {
  padding-top: 0;
}

.page-top-cta-area {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.jqstooltip {
  box-sizing: content-box;
}

.callout-list-item {
  background: #fcfcfc;
}

*:focus {
  outline: none;
}

.callout.select-business h3 {
	margin: 0;
	width:100%;
}
.callout.select-business:hover {
  background: #227ab4;
}
.callout.select-business:hover > h3,
.callout.select-business:hover > .fa {
  color: #FFF;
}

@media screen and (max-width: 1200px) {
  .off-canvas-wrapper-inner#loginBackgroundCar {
    background-position: calc(100% + 450px) center;
  }
}

@media screen and (max-width: 1024px) {
  .top-bar .inline-list:first-child li {
    padding-left: 20px;
  }

  .top-bar .inline-list li {
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 600;
  }
}

@media screen and (max-width: 750px) {
  .top-bar .inline-list:first-child li {
    padding-left: 10px;
  }

  .top-bar .inline-list li {
    padding-left: 0px;
    padding-right: 0px;
    font-weight: 600;
    font-size: 13px;
  }

  .top-bar-logo {
    font-size: 1.1rem;
  }

  .top-bar .top-bar-logo {
    border-right: 0px solid #ccc;
  }

  .main-wrapper {
    margin-left: 0;
  }

  footer {
    padding-left: 0;
  }

  .small-6 .callout-value {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 640px) {
  h1.login-logo {
    margin-top: -10px;
  }

  .sidebar-wrapper {
    display: none;
  }

  .data-table-a th:nth-child(5) {
    border-radius: 0px 4px 0px 0px;
  }

  .secondary-menu .page-info .page-info-left {
    float: none;
  }

  .secondary-menu .page-info .page-info-right {
    float: none;
  }

  p.version, p.version-number, p.version-date {
    text-align: left !important;
  }

  p.version-date {
    margin-bottom: 30px !important;
  }
}

@media screen and (max-width: 400px) {
  .data-table-a thead tr th,
  .data-table-a tbody tr td {
    padding-top: 6.6666666667px;
    padding-bottom: 6.6666666667px;
    padding-left: 10px;
  }

  .vehicle-image-gallery .gallery-item img {
    width: 100%;
  }
}

input[name='reg'], input[name='carWebReg'] {
	text-transform: uppercase;
}

@media screen and (max-width: 600px) {
	.reveal-overlay {
		z-index: -999 !important;
	}
}

.button-group {
	text-align: right;
}


/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
  display: block;
  margin: 5px auto 20px auto;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 2.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  	color: #CCCCCC; 
 	float: right; 
	line-height: 18px;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating.editable:not(:checked) > label:hover, /* hover current star */
.rating.editable:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating.editable > input:checked + label:hover, /* hover current star when changing rating */
.rating.editable > input:checked ~ label:hover,
.rating.editable > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating.editable > input:checked ~ label:hover ~ label { color: #FFED85;  } 

[type='checkbox'] + label, [type='radio'] + label {
	margin-left: 0;
	margin-right: 0;
}


/* Release Notes */

.columns.release-note:first-child {
  margin-top: 0px;
}

.columns.release-note {
  margin-top: 75px;
}

.columns.release-note .columns.version-main-details {
  padding-bottom: 75px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

p.version {
  font-size: 1.05em;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.6;
  margin: 0;
  text-align: right;
}

p.version-number {
  font-size: 3.25em;
  font-weight: 500;
  margin: 0;
  text-align: right;
  line-height: 50px;
  color: #2199E8;
}

p.version-date {
  font-size: 1.05em;
  font-weight: 600;
  margin: 0;
  text-align: right;
}

h2.version-headline {
  margin: 2px 0 20px 0;
  font-weight: 600;
}

p.version-overview {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
}

ul.version-features {
  list-style: initial;
  margin-left: 20px;
}

ul.version-features li {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 7.5px;
}

ul.version-features li span {
  font-weight: 700;
}





