@import 'variables';

.button {
  @include border-radius(3px);
  text-transform: capitalize;
}

.button.primary, .button {
  background: $primary-color;
  color: $white;
}

.button.primary:hover, .button:hover {
  background: scale-color($primary-color, $lightness: -15%)
}

.button.back, .button.back {
  background: $medium-grey;
  color: $white;
}

.button.back:hover {
  background: scale-color($medium-grey, $lightness: -15%)
}

.button.cancel {
  background: $third-color;
  color: $white;
}

.button.cancel:hover {
  background: scale-color($third-color, $lightness: -15%)
}

.button.delete {
  background: $forth-color;
  color: $white;
}

.button.delete:hover {
  background: scale-color($forth-color, $lightness: -15%)
}

.button.save, .button.create {
  background: $secondary-color;
  color: $white;
}

.button.save:hover, .button.create:hover {
  background: scale-color($secondary-color, $lightness: -15%)
}