@import 'variables';

// Vehicles Page

// ** __ Vehicles Search Area

.searchFilterComponent {
  padding-top: 0;

}

.page-top-cta-area {
  padding-top: $standard-padding / 2;
  padding-bottom: $standard-padding / 2;
  margin-bottom: $standard-padding;

}

//Sparkline tooltip correction
.jqstooltip {
  box-sizing: content-box;
}

.callout-list-item {
  background: #fcfcfc;
}


// Fixes

*:focus {
    outline: none;
}

.callout.select-business {

}

.callout.select-business:hover {
  background: $primary-color;

}

.callout.select-business:hover > h3, .callout.select-business:hover > .fa {
  color: $white;
}
