@import 'variables';

$breakpoint-small: 0;
$breakpoint-medium: 640px;
$breakpoint-large: 1024px;

@media screen and (max-width: $breakpoint-large) {

  .top-bar .inline-list:first-child li {
    padding-left: 20px;
  }

  .top-bar .inline-list li {
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 600;

  }

}

@media screen and (max-width: 750px) {

  .top-bar .inline-list:first-child li {
    padding-left: 10px;
  }

  .top-bar .inline-list li {
    padding-left: 0px;
    padding-right: 0px;
    font-weight: 600;
    font-size: 13px;
  }

  .top-bar-logo {
    font-size: 1.1rem;
  }

  .top-bar .top-bar-logo {
    border-right: 0px solid $light-grey;
  }

  .main-wrapper {
    margin-left: 0;
  }

  footer {
    padding-left: 0;
  }

  .small-6 .callout-value {
    margin-bottom: 20px;

  }


}

@media screen and (max-width: $breakpoint-medium) {

  .sidebar-wrapper {
    display: none;
  }




  .data-table-a th:nth-child(5) {
    border-radius: 0px 4px 0px 0px;
  }

  .secondary-menu .page-info .page-info-left {
    float: none;
  }

  .secondary-menu .page-info .page-info-right {
    float: none;
  }

}

@media screen and (max-width: 400px) {
  .data-table-a thead tr th, .data-table-a tbody tr td {
    padding-top: $standard-padding / 3;
    padding-bottom: $standard-padding / 3;
    padding-left: $standard-padding / 2;
  }
  //  vehicle images
  .vehicle-image-gallery .gallery-item img {
    width: 100%;
  }
}