@import 'mixins';

$font-stack: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;

$white: #FFF;
$off-white: #F9F9F9;
$lighter-grey: #E8E8E8;
$light-grey: #ccc;
$border-grey: #ddd;
$smoke: #969696;
$medium-grey: #636466;
$dark-grey: #504F4D;
$mc-grey: #484848;
$darkest-grey: #373737;

$pcolor1: #3598D9;
$pcolor2: #40B9AF;
$pcolor3: #F4DA00;
$pcolor4: #C6251F;
$pcolor5: #40B9AF;

$darken-amount: 11;

$primary-color: darken($pcolor1, $darken-amount);
$secondary-color: darken($pcolor2, $darken-amount);
$third-color: darken($pcolor3, $darken-amount);
$forth-color: darken($pcolor4, $darken-amount);
$fifth-color: darken($pcolor5, $darken-amount);

$mediamotors-color: #F5A73E;


$top-bar-background-colour: $white;
$bottom-nav-background-colour: $lighter-grey;

$sidebar-background-colour: $darkest-grey;
$sidebar-text-colour: $white;
$sidebar-text-hover-colour: $lighter-grey;
$sidebar-heading-colour: $smoke;

$sidebar-right-border: 1px solid $border-grey;
$sidebar-hidden-item-status: none;

$heading-color: $mc-grey;

$title-information-wrapper-background-colour: $white;

$body_background: #F9F9F9;




$top-bar-height: 65px;
$sidebar-width-inital: 173px;
$sidebar-footer-height: 60px;

$standard-padding: 20px;